.chat-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.chat-page-content {
  flex: 1;
  padding: 20px;
  /* background: #ffbfa1; */
  width: 80%;
  margin: auto;
  border-radius: 50px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Adjust chat container within the page */
.chat-page-content .chat-container {
  height: 80vh;
  min-height: 600px;
  width: 100%;
  max-width: 900px;
}

@media (max-width: 768px) {
  .chat-page-content {
    padding: 10px;
  }

  .chat-page-content .chat-container {
    height: 85vh;
    min-height: 500px;
  }
}
